@import '~antd/dist/antd.css';   

.container {
    background-color: white;
}
.todo-list {
    display: flex;
    flex-wrap: wrap;
}
.inputs-cont {
    text-align: center;
    // padding: 10px;
}
.inputs-cont input {
    margin: 10px;
}
.todo-cart {
    width: 30%;
    margin-left: 10px;
    margin-bottom: 10px;
    background: #E5F3FF;
    border-radius: 25px;
    padding: 20px 7px;
    display: block;
    align-items: center;
}
h3 {
    width: 30%;
}
input {
    width: 30%;
}